/* src/styles/button.css */
.btn {
  background-color: #ffd166;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #ff9a8b;
}
